### .gitignore
bin/
obj/
*.user
*.vspscc
*.vssscc
*.suo
*.DS_Store
/.vs/Boutquin.Storage
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/.vs/slnx.sqlite
/src/Generator
/tests/Boutquin.Storage.SourceGenerator.Tests
